/jsdoc.conf.json
/.tmp/
/docs/
/scripts/
/src/index.js
/src/settings.json
/src/pages/
/src/pug_modules/
/src/util/
/src/components/charts/.tmp
/src/components/iconified-links/
/src/components/AsideLinks.svelte
/src/components/NavbarIcons.svelte
/src/components/JsCode.svelte
/rollup.config.js
